<form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="mat-elevation-z8 mt-4 p-4 w-50"
  style="margin: auto;">

  @if (task === null) {
  <h1 class="text-center">Добавить задачу</h1>
  }
  @else {
  <h1 class="text-center">Редактировать задачу</h1>
  }

  <mat-form-field class="d-block">
    <mat-label>Название</mat-label>
    <input matInput formControlName="nameControl" [value]="myForm.get('nameControl')?.value" />
    @if (myForm.controls['nameControl'].hasError('required')) {
      <mat-error>
        Название <strong>обязательно</strong>
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="d-block">
    <mat-label>Описание</mat-label>
    <textarea matInput formControlName="descriptionControl"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="d-block">
    <mat-label>Проект</mat-label>
    <mat-select formControlName="projectControl" [value]="myForm.get('projectControl')?.value">
      @for (project of projects; track project.id) {
        <mat-option [value]="project.id">{{ project.name }}</mat-option>
      }
    </mat-select>

    @if (myForm.controls['projectControl'].hasError('required')) {
      <mat-error>
        Проект <strong>обязателен</strong>
      </mat-error>
    }
  </mat-form-field>

  @if (task !== null) {
    <mat-form-field appearance="fill" class="d-block">
      <mat-label>Статус</mat-label>
      <mat-select formControlName="statusControl" [value]="myForm.get('statusControl')?.value">
        @for (status of statuses; track status.value) {
          <mat-option [value]="status.value">{{ status.viewValue }}</mat-option>
        }
      </mat-select>
      @if (myForm.controls['statusControl'].hasError('required')) {
        <mat-error>
          Статус <strong>обязателен</strong>
        </mat-error>
      }
    </mat-form-field>
  }

  <button mat-raised-button color="primary" class="d-block w-100 mt-3"
    [disabled]="myForm.status !== 'VALID'">Сохранить</button>

</form>