<form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="mat-elevation-z8 mt-4 p-4 w-50"
    style="margin: auto;">

    <h1 *ngIf="employee == null" class="text-center">Добавить сотрудника</h1>
    <h1 *ngIf="employee != null" class="text-center">Редактировать сотрудника</h1>

    <mat-form-field class="w-50">
        <mat-label>Имя</mat-label>
        <input matInput formControlName="firstNameControl" [value]="myForm.get('firstNameControl')?.value">
        <mat-error *ngIf="myForm.controls['firstNameControl'].hasError('required')">
            Имя <strong>обязательно</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-50">
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="lastNameControl" [value]="myForm.get('lastNameControl')?.value">
        <mat-error *ngIf="myForm.controls['lastNameControl'].hasError('required')">
            Фамилия <strong>обязательна</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="d-block">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="emailControl" placeholder="email@example.com">
        <mat-error
            *ngIf="myForm.controls['emailControl'].hasError('email') && !myForm.controls['emailControl'].hasError('required')">
            Пожалуйста, введите корректный адрес
        </mat-error>
        <mat-error *ngIf="myForm.controls['emailControl'].hasError('required')">
            Email <strong>обязателен</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="d-block">
        <mat-label>Команда</mat-label>
        <mat-select formControlName="teamControl" [value]="myForm.get('teamControl')?.value">
            <mat-option *ngFor="let team of teams" [value]="team.id">
                {{team.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="myForm.controls['teamControl'].hasError('required')">
            Команда <strong>обязательна</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="d-block">
        <mat-label>Роль</mat-label>
        <mat-select formControlName="roleControl" [value]="myForm.get('roleControl')?.value">
            <mat-option [value]="0">Админ</mat-option>
            <mat-option [value]="1">Менеджер</mat-option>
            <mat-option [value]="2">Сотрудник</mat-option>
        </mat-select>
        <mat-error *ngIf="myForm.controls['teamControl'].hasError('required')">
            Роль <strong>обязательна</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="employee == null" appearance="fill" class="d-block">
        <mat-label>Пароль</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="passwordControl"
            [value]="myForm.get('passwordControl')?.value">
        <mat-icon style="cursor: pointer;" matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
        </mat-icon>
        <mat-error *ngIf="myForm.controls['teamControl'].hasError('required')">
            Пароль <strong>обязателен</strong>
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="d-block w-100 mt-3"
        [disabled]="myForm.status !== 'VALID'">Сохранить</button>

</form>