<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Компания</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Переключение навигации">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav flex-row align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" fill="white" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
        <!-- <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="@{/updatePersonalInformation}" sec:authorize="isAuthenticated()"
                sec:authentication="name">Артём</a>
        </div> -->
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="@{/logout}">Выйти</a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse min-vh-100">
            <div class="position-sticky pt-3">
                <h3 class="text-muted mt-2 mb-1">
                    <span><b>Проектный менеджмент</b></span>
                </h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a routerLink="/projects-info" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">folder_open</mat-icon>
                            Информация о проектах
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/projects" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">library_books</mat-icon>
                            Проекты
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/customers" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">monetization_on</mat-icon>
                            Заказчики
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLinkActive="text-dark" routerLink="/tasks" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">done_all</mat-icon>
                            Задачи
                        </a>
                    </li>
                </ul>

                <h3 class="text-muted mt-4 mb-1">
                    <span><b>Управление персоналом</b></span>
                </h3>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a routerLink="/teams-info" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">view_list</mat-icon>
                            Информация о командах
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/teams" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">folder_shared</mat-icon>
                            Команды
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/employees" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">people</mat-icon>
                            Сотрудники
                        </a>
                    </li>
                </ul>

                <h3 class="text-muted mt-4 mb-1">
                    <span><b>Статистика</b></span>
                </h3>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a routerLink="/employees-positions-chart" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">pie_chart</mat-icon>
                            Квалификация сотрудников
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/something" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">multiline_chart</mat-icon>
                            Что-то будет
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/projects-prices-chart" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">insert_chart</mat-icon>
                            Бюджеты проектов
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/statistics" routerLinkActive="text-dark" class="nav-link">
                            <mat-icon style="vertical-align: bottom;">show_chart</mat-icon>
                            Статистика
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>