<h1>Система управления персоналом на IT-предприятии</h1>
<p class="lead fs-6">В нынешнее время все компании – от малого до крупного размера
  нуждаются в информационных технологиях для того, чтобы выдерживать
  конкуренцию в условиях повсеместного использования
  высокотехнологичных решений. Однако специфика средств IT и методов их
  внедрения, эксплуатации и сопровождения в зависимости от масштаба
  предприятия может существенно отличаться. Если необходимый набор
  средств IT в случае с фирмой с численностью штата до 50 человек может
  исчерпываться только одной автоматизированной системой учета и одним
  системным администратором средней квалификации, то крупной
  организации необходим комплексный подход к созданию IT
  инфраструктуры, который включает в себя создание IT отдела. </p>
<p *ngIf="isAuthenticated" class="lead">
  <a sec:authorize="hasRole('ROLE_ADMIN')" href="@{/manager/projects}"
    class="btn btn-lg btn-secondary fw-bold border-white bg-white">Перейти в личный кабинет менеджера</a>
  <a sec:authorize="hasRole('ROLE_USER')" href="@{/user/tasks}"
    class="btn btn-lg btn-secondary fw-bold border-white bg-white">Перейти в личный кабинет сотрудника</a>
</p>