<h1>
  Проектный менеджмент и программная поддержка управления персоналом в
  IT-компании
</h1>
<p class="lead fs-6">
  Проектный менеджмент - это системный подход к планированию, организации,
  управлению и контролю за проектом с целью достижения поставленных целей в
  рамках определенных ограничений. В IT-компаниях эффективное управление
  персоналом является важным аспектом проектного менеджмента, так как
  качественный персонал - это ключевой фактор успеха проекта. Для обеспечения
  эффективности управления персоналом в IT-компаниях используется программная
  поддержка, которая помогает управлять навыками, компетенциями,
  производительностью и распределением ресурсов сотрудников. В данном контексте,
  программа управления персоналом в IT-компании является важным инструментом,
  который помогает компании повышать эффективность своей работы и успешно
  достигать целей проектов.
</p>
  
@if (isAuthenticated) {
  <p class="lead">
    <a sec:authorize="hasRole('ROLE_ADMIN')" href="@{/manager/projects}"
      class="btn btn-lg btn-secondary fw-bold border-white bg-white">Перейти в личный кабинет менеджера</a>
    <a sec:authorize="hasRole('ROLE_USER')" href="@{/user/tasks}"
      class="btn btn-lg btn-secondary fw-bold border-white bg-white">Перейти в личный кабинет сотрудника</a>
  </p>
}