<form [formGroup]="myForm" novalidate (ngSubmit)="submit()" class="mat-elevation-z8 mt-4 p-4 w-50"
  style="margin: auto;">

  @if (team === null) {
    <h1 class="text-center">Добавить команду</h1>
  } @else {
    <h1 class="text-center">Редактировать команду</h1>
  }

  <mat-form-field class="d-block">
    <mat-label>Название</mat-label>
    <input matInput formControlName="nameControl" [value]="myForm.get('nameControl')?.value">
    @if (myForm.controls['nameControl'].hasError('required')) {
      <mat-error>
        Название <strong>обязательно</strong>
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="d-block">
    <mat-label>Описание</mat-label>
    <textarea matInput formControlName="descriptionControl"></textarea>
  </mat-form-field>

  <!-- <mat-form-field appearance="fill" class="d-block">
        <mat-label>Проекты</mat-label>
        <mat-select formControlName="projectsControl" multiple>
            <mat-option *ngFor="let project of projects" [value]="project.id">{{project.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="d-block">
        <mat-label>Члены команды</mat-label>
        <mat-select formControlName="employeesControl" multiple>
            <mat-option *ngFor="let employee of employees" [value]="employee.id">{{employee.firstName + ' '
                +employee.lastName}}</mat-option>
        </mat-select>
    </mat-form-field> -->

  <button mat-raised-button color="primary" class="d-block w-100 mt-3"
    [disabled]="myForm.status !== 'VALID'">Сохранить</button>

</form>